/n11.json
/trendyol.json
/vatanbilgisayar.json
/.idea/cimri_product_sentiment_analysis.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
